@model CMS.Models.AcceptedPapersDashboardModel
@{
    ViewBag.Title = "AcceptedPapers";
}

@*<h2>Accepted Papers</h2>
@using (Html.BeginForm("AcceptedPapers", "DashBoard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error);
    <table>
        <tr>
            <td>Upload Excel File:</td>
            <td><input type="file" name="file" /></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}
<ul></ul>
<h3>@Html.ActionLink("ADD", "Add_AcceptedPapers", new { id = Model.getConference_id() })</h3>*@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Management System</title>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript" rel="script"></script>
    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">
    <link href="nav%20bar.css" rel="stylesheet" type="text/css">

</head>

<body>


    <header class="header">
        <h1 style="padding-left:50px; text-align: center">Conference Mangement System</h1>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Home")</li>
                    <li>@Html.ActionLink("SearchforConferences", "Searching")</li>
                    <li>@Html.ActionLink("Create-an-event", "organize")</li>
                    <li>@Html.ActionLink("My-Events", "Events")</li>
                  

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Session["id"].Equals(0))
                        {

                            @Html.ActionLink("Signin", "sign")}
                        else
                        {
                            @Html.ActionLink(Session["email"].ToString(), "sign")

                        }
                    </li>
                    <li>
                        @if (Session["id"].Equals(0))
                        {
                            @Html.ActionLink("Signup", "signup")
                        }
                        else
                        {
                            @Html.ActionLink("Signout", "signup")
                        }
                    </li>

                    @*<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
                </ul>


            </div>
        </div>
    </nav>


    <center style="margin-top:-22px;"><h1 style="background-color: #9d9d9d; padding:10px;">Accepted Papers</h1></center>


    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-2 side">

                <h4><b>Manage Basics</b></h4>
                <li>@Html.ActionLink("Change Name", "Edit_Info", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("Change Venue", "Edit_Info", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("Change Date", "Edit_Info", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("Update Agenda", "Edit_Info", new { id = Model.getConference_id() })</li>
                <br>
                <hr>

                <h4 style="padding-top: -20px"><b>Manage Guests</b></h4>

                <li>@Html.ActionLink("Add Organizers", "add_organizers", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("Invite People", "UserList", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("List of Participants", "ListofParticipant", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("List of Speakers", "InvitedSpeaker", new { id = Model.getConference_id() })</li>
                <br>
                <hr>
                <h4><b>Manage Sessions</b></h4>
                <li>@Html.ActionLink("Sessions", "Sessions", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("Workshop", "Workshop", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("Tutorials", "Tutorials", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("Extra Events", "Extra_Events", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("PHD Symposium", "PHD_Symposium", new { id = Model.getConference_id() })</li>
                <br>
                <hr>

                <h4><b>Manage Papers</b></h4>
                <li>@Html.ActionLink("Submission Link", "Edit_Info", new { id = Model.getConference_id() })</li>
                <li>@Html.ActionLink("Accepted Papers", "AcceptedPapers", new { id = Model.getConference_id() })</li>

            </div>



            <div class="col-sm-10 text-left">

                @using (Html.BeginForm("AcceptedPapers", "DashBoard", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Raw(ViewBag.Error);

                    <div class="form-group">
                        <label class="control-label col-md-4">Upload Excel Files of Accepted Papers</label>
                        <div class="form-group input-group col-md-4">
                            <input type="file" name="file" class="form-control">

                        </div>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Submit">
                    </div>



                }




                <div class="text-center">
                    @Html.ActionLink("Add Accepted Papers Manually", "Add_AcceptedPapers", new { id = Model.getConference_id() })
                </div>

