@model CMS.Models.DashBoard
@{
    ViewBag.Title = "DashBoard";
}


@*<html>
    <head>
        <link rel="stylesheet" href="~/CSS/Main.css">
        <title>Conference Mangement System</title>
    </head>
    <body>
        <header>
            <center><h1 style="padding-left:50px;">Conference Mangement System</h1></center>
            <img id="cms-logo" src="~/Pics/cms logo.png">
        </header>
        <nav id="nav-properties">
            <ul>
                <li>@Html.ActionLink("Home", "Home")</li>
                <li>@Html.ActionLink("SearchforConferences", "Searching")</li>
                <li>@Html.ActionLink("Create-an-event", "organize")</li>
                <li>@Html.ActionLink("My-Events", "Events")</li>
                <li>@Html.ActionLink("Contact-Us", "Contact")</li>
                <li>@Html.ActionLink("About", "About")</li>
                <li id="inout">@Html.ActionLink("Signin", "signIn")</li>
                <li id="inout">@Html.ActionLink("Signup", "signup")</li>
            </ul>
        </nav>

        <div class="margin"></div>
        <section>
            <center style="margin-top:-22px;"><h1 style="background-color:rgb(215,215,215);padding:10px;">My Events</h1></center>
            <aside>
                <div>
                    <h4>Manage basics</h4>
                    <li>@Html.ActionLink("Change name of conference", "organize")</li>
                    <li>@Html.ActionLink("Change Venue", "organize")</li>
                    <li>@Html.ActionLink("Change date", "organize")</li>
                    <li>@Html.ActionLink("Update Agenda", "organize")</li>
                </div>
            </aside><br>
            <aside>
                <div>
                    <h4>Manage Guests</h4>
                    <li>@Html.ActionLink("Invite People", "Auto_Gen", new { id = @Model.id })</li>
                    <li>@Html.ActionLink("List of Participants", "ListofParticipant", new { id = @Model.id })</li>
                    <li>@Html.ActionLink("List of Invited Speakers", "InvitedSpeaker", new { id = @Model.id })</li>
                </div>
            </aside><br>
            <aside>
                <div>
                    <h4>Manage Sessions</h4>
                    <li>@Html.ActionLink("Add/Remove Sessions", "Sessions", new { id = @Model.id })</li>
                    <li>@Html.ActionLink("Workshop", "Workshop", new { id = @Model.id })</li>
                    <li>@Html.ActionLink("Tutorials", "Tutorials", new { id = @Model.id })</li>
                    <li>@Html.ActionLink("Extra Events", "Extra_Events", new { id = @Model.id })</li>
                    <li>@Html.ActionLink("PHD Symposium", "PHD_Symposium", new { id = @Model.id })</li>
                </div>
            </aside><br>
            <aside>
                <div>
                    <h4>Manage Papers</h4>
                    <li>@Html.ActionLink("Change Submission link", "")</li>
                    <li>@Html.ActionLink("Update List of Accepted Papers", "Accepted_Paper", new { id=@Model.id})</li>
                </div>
            </aside>
            <div id="leftDashBoard">

                <img id="image" src="~/Pics/DBPic1.jpg">

                <a href=@Url.Action("Auto_Gen","DashBoard")>
                <img id="image" src="~/Pics/DBPic2.jpg" alt="Auto Generated Emails">
                    </a>

                <a href=@Url.Action("InvitedSpeaker", "DashBoard", new { id=@Model.id})>
                    <img id="image" src="~/Pics/DBPic3.jpg" alt="Invited Speaker" />
                </a>

                <a href=@Url.Action("PHD_Symposium", "DashBoard", new { id = @Model.id })>
                    <img id="image" src="~/Pics/DBPic4.jpg" alt="PHD Symposium">
                </a><br />

                <a href=@Url.Action("Accepted_Paper","DashBoard",new {id=@Model.id})>
                    <img id="image" src="~/Pics/DBPic5.jpg" alt="Accepted Papers">
                </a>

                <a href=@Url.Action("Extra_Events","DashBoard",new{id=@Model.id})>
                    <img id="image" src="~/Pics/DBPic6.jpg" alt="Extra Event">
                </a>

                <a href=@Url.Action("Workshop","DashBoard",new{id=@Model.id})>
                    <img id="image" src="~/Pics/DBPic7.png" alt="Workshop">
                </a>

                <a href=@Url.Action("Tutorials","DashBoard",new {id=@Model.id})>
                    <img id="image" src="~/Pics/DBPic8.png" alt="Tutorials">
                 </a>   <br>

            </div>
        </section>
    </body>
    </html>*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Management System</title>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">


</head>

<body>


    <header class="header">
        <h1 style="text-align: center">Conference Management System</h1>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Search-Event", "Search")</li>
                    <li>@Html.ActionLink("Create-Event", "organize")</li>
                    <li>@Html.ActionLink("My-Events", "myEvents")</li>
                    <li>@Html.ActionLink("Search-User", "Search_User")</li>

                    @*  <li>@Html.ActionLink("Contact-Us", "Contact")</li>*@

                </ul>                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Session["id"].Equals(0))
                        {

                            @Html.ActionLink("Signin", "sign")}
                        else
                        {
                            @Html.ActionLink(Session["email"].ToString(), "sign")

                        }
                    </li>
                    <li>
                        @if (Session["id"].Equals(0))
                        {
                            @Html.ActionLink("Signup", "signup")
                        }
                        else
                        {
                            @Html.ActionLink("Signout", "signup")
                        }
                    </li>
                    @*<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
                </ul>


            </div>
        </div>
    </nav>


    <center style="margin-top:-22px;"><h1 style="background-color: #9d9d9d; padding:10px;">DashBoard</h1></center>


    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-2 side">

                <h4><b>Manage Basics</b></h4>
                <li>@Html.ActionLink("Change name ", "Edit_Info", new { id = @Model.id })</li>
                <li>@Html.ActionLink("Change Venue", "Edit_Info", new { id = @Model.id })</li>
                <li>@Html.ActionLink("Change date", "Edit_Info", new { id = @Model.id })</li>
                <li>@Html.ActionLink("Update Agenda", "Edit_Info", new { id = @Model.id })</li>

                <br>
                <hr>

                <h4 style="padding-top: -20px"><b>Manage Guests</b></h4>
                <li>@Html.ActionLink("Add Organizers", "add_organizers", new { id = @Model.id })</li>
                <li>@Html.ActionLink("Invite People", "UserList", new { id = @Model.id })</li>
                <li>@Html.ActionLink("List of Participants", "ListofParticipant", new { id = @Model.id })</li>
                <li>@Html.ActionLink("List of  Speakers", "InvitedSpeaker", new { id = @Model.id })</li>
                <br>
                <hr>
                <h4><b>Manage Sessions</b></h4>
                <li>@Html.ActionLink("Sessions", "Sessions", new { id = @Model.id })</li>
                <li>@Html.ActionLink("Workshop", "Workshop", new { id = @Model.id })</li>
                <li>@Html.ActionLink("Tutorials", "Tutorials", new { id = @Model.id })</li>
                <li>@Html.ActionLink("Extra Events", "Extra_Events", new { id = @Model.id })</li>
                <li>@Html.ActionLink("PHD Symposium", "PHD_Symposium", new { id = @Model.id })</li>
                <br>
                <hr>

                <h4><b>Manage Papers</b></h4>
                <li>@Html.ActionLink("Submission Link", "Edit_Info", new { id = @Model.id })</li>
                <li>@Html.ActionLink(" Accepted Papers", "AcceptedPapers", new { id = @Model.id })</li>

            </div>

            <div class="col-sm-10 text-left">

                <table style="font-size:24px; font-family:'Times New Roman' ">
                    <tr>
                        <td><b>Name    :</b></td>
                        <td>@Model.name</td>
                    </tr>

                    <tr>
                        <td><b>Country:</b></td>
                        <td>@Model.country</td>
                    </tr>

                    <tr>
                        <td><b>City :</b></td>
                        <td>@Model.city</td>
                    </tr>

                    <tr>
                        <td><b>Venue :</b></td>
                        <td>@Model.venue</td>
                    </tr>




                </table>


                <br />
                <br />
                <a href=@Url.Action("map","DashBoard", new{id=@Model.id})>
                    <img id="image" src="~/Pics/maps.png" alt="Maps">
                    </a>

                    <a href=@Url.Action("UserList","DashBoard", new{id=@Model.id})>
                        <img id="image" src="~/Pics/DBPic2.jpg" alt="Auto Generated Emails" hspace="40">
                    </a>



                    <a href=@Url.Action("InvitedSpeaker", "DashBoard", new { id=@Model.id})>
                        <img id="image" src="~/Pics/DBPic3.jpg" alt="Invited Speaker" hspace="40" />
                    </a>

                    <a href=@Url.Action("PHD_Symposium", "DashBoard", new { id = @Model.id })>
                        <img id="image" src="~/Pics/DBPic4.jpg" alt="PHD Symposium" hspace="40">
                    </a>
                    <br />
                    <br />
                    <br />
                    <br />





                    <a href=@Url.Action("Accepted_Paper","DashBoard",new {id=@Model.id})>
                        <img id="image" src="~/Pics/DBPic5.jpg" alt="Accepted Papers">
                    </a>

                    <a href=@Url.Action("Extra_Events","DashBoard",new{id=@Model.id})>
                        <img id="image" src="~/Pics/DBPic6.jpg" alt="Extra Event" hspace="40">
                    </a>

                    <a href=@Url.Action("Workshop","DashBoard",new{id=@Model.id})>
                        <img id="image" src="~/Pics/DBPic7.png" alt="Workshop" hspace="40">
                    </a>

                    <a href=@Url.Action("Tutorials","DashBoard",new {id=@Model.id})>
                        <img id="image" src="~/Pics/DBPic8.png" alt="Tutorials" hspace="40">
                    </a>   <br>

</div>

        </div>
    </div>


</body>
</html>

