@model CMS.Models.edit_Tutorials
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.controller = "dashboard"; 
    ViewBag.action = "my_events";  
}

@{Html.RenderPartial("~/Views/Shared/partialDashBoard-j.cshtml");}

<div class="col-sm-6 blog-content">

    <div class="col-sm-6 text-left">

        <h1 class="text-center">Edit Tutorial</h1>

        @using (Html.BeginForm("edit_Tutorials", "DashBoard", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            <div class="form-group">
                <label class="control-label col-md-4">Title</label>
                <div class="col-md-6">
                    <input type="text" name="title" id="names" class="form-control" />
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-md-4">Discription</label>
                <div class="col-md-6">
                    <input type="text" name="discription" id="dis" class="form-control" />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4">Add Speakers</label>
                <div class="col-md-6">
                    <input type="text" name="new_speakers" id="speak" class="form-control" />
                    <span class="form_hint">Note:Write Emails and use Coma Seperater</span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4">Add Organizer</label>
                <div class="col-md-6">
                    <input type="text" name="new_organizers" id="org" class="form-control" />
                    <span class="form_hint">Note:Write Emails and use Coma Seperater</span>
                </div>
            </div>


            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Updated">
            </div>

        }
    </div>
</div>

<div class="col-sm-2 blog-content">
    <div class="col-sm-2 text-left">
        <h2>Speakers</h2>
        <table>
            @foreach (var speaker in @Model.speakers)
            {
                <tr>
                    <td>@Html.ActionLink(speaker.name, "UserProfile", new { id = speaker.id })</td>
                    <td> </td>
                    <td><p style="margin-top:8px;margin-left:8px">@Html.ActionLink("x", "DeleteTutorialSuser", new { suser = speaker.id })</p></td>
                </tr>

            }
        </table>
    </div>
</div>

    <div class="col-sm-2 blog-content">
    <div class="col-sm-2 text-left">
        <h2>Organizers</h2>
        <table>
            @foreach (var organizer in @Model.organizers)
            {
                <tr>
                    <td>@Html.ActionLink(organizer.name, "UserProfile", new { id = organizer.id })</td>
                    <td><p style="margin-top:8px;margin-left:8px">@Html.ActionLink("x", "DeleteWorkshopSuser", new { suser = organizer.id })</p></td>
                </tr>

            }
        </table>

    </div>
</div>

    </div>
    </div>
    </div>


<script>

    function info() {
        var title = '@(Model.title)';
        var dis = '@(Model.discription)';

        document.getElementById("names").value = title;
        document.getElementById("dis").value = dis;
    }

</script>