@model CMS.Models.edit_Full

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.controller = "dashboard";
    ViewBag.action = "my_events";  
}



@{Html.RenderPartial("~/Views/Shared/partialDashBoard-ID.cshtml");}

<div class="col-sm-10 blog-content">



    <div class="col-sm-10 text-left">

        <h1 class="text-center">Edit Basic Information About Conference</h1>

        @using (Html.BeginForm("Edit_Info", "DashBoard", null, FormMethod.Post, new { @class = "form-horizontal form-margin" }))
        {


            <div class="form-group">
                <label class="control-label col-md-4">Conference Name</label>
                <div class="col-md-4">
                    <input type="text" name="name" id="names" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Start Date</label>
                <div class="col-md-4">
                    <input type="text" name="sdate" id="sdate" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">End Date</label>
                <div class="col-md-4">
                    <input type="text" name="edate" id="edate" class="form-control" />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4">Country</label>
                <div class="col-md-4">
                    <input type="text" name="country" id="country" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">City</label>
                <div class="col-md-4">
                    <input type="text" name="city" id="city" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Venue</label>
                <div class="col-md-4">
                    <input type="text" name="venue" id="venue" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Discipline</label>
                <div class="col-md-4">
                    <input type="text" name="discipline" id="dis" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Agenda</label>
                <div class="col-md-4">
                    <input type="text" name="agenda" id="agenda" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Submission Link</label>
                <div class="col-md-4">
                    <input type="text" name="sub" id="sub" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Website</label>
                <div class="col-md-4">
                    <input type="text" name="website" id="website" class="form-control" />
                </div>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Updated">
            </div>


        }


        </div>
    </div>
    </div>
</div>
</div>


<script>

    function info() {
        var name = '@(Model.name)';
        var sdate = '@(Model.Sdate)';
        var edate = '@(Model.Edate)';
        var country = '@(Model.country)';
        var city = '@(Model.city)';
        var venue = '@(Model.venue)';
        var dis = '@(Model.discipline)';
        var agenda = '@(Model.agenda)';
        var sub = '@(Model.submission_link)';
        var web = '@(Model.website)';

        document.getElementById("names").value = name;
        document.getElementById("sdate").value = sdate;
        document.getElementById("country").value = country;
        document.getElementById("city").value = city;
        document.getElementById("edate").value = edate;
        document.getElementById("venue").value = venue;
        document.getElementById("dis").value = dis;
        document.getElementById("agenda").value = agenda;
        document.getElementById("sub").value = sub;
        document.getElementById("website").value = web;

    }


</script>





