@model CMS.Models.edit_Sessions
@{
    ViewBag.Title = "Edit_Sessions";
}

<h2>Edit_Sessions</h2>


@using (Html.BeginForm("Edit_Sessions", "DashBoard", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Workshop</legend>

        @*@Html.HiddenFor(model => model.title)*@

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.venue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.venue)
            @Html.ValidationMessageFor(model => model.venue)
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.start_day)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.start_day)
            @Html.ValidationMessageFor(model => model.start_day)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.start_time)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.start_time, new { type="time"})
            @Html.ValidationMessageFor(model => model.start_time)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.end_time)
        </div>
        <div class="editor-field">
           @Html.TextBoxFor(model => model.end_time, new { type = "time" })
            @Html.ValidationMessageFor(model => model.end_time)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
