@model CMS.Models.Invited_Speaker
@{
    ViewBag.Title = "InvitedSpeaker";
}

@*<h2>InvitedSpeaker</h2>
<ul>
    @foreach (var con in Model.participants)
    {

        <li>@Html.ActionLink(con.user_name, "UserProfile", new { id = con.user_id, a = con.conference_id })</li>


    }
</ul>

    <h4>@Html.ActionLink("Invite user", "UserList", new { id = @Model.conf_id })</h4>*@


@*@model CMS.Models.Invited_Speaker
@{
    ViewBag.Title = "Invited Speaker";
}*@





<html>
<head>
    <link rel="stylesheet" href="~/CSS/Main.css">
    <title>Conference Mangement System</title>
</head>

<body>
    <header>
        <center><h1 style="padding-left:50px;">Conference Mangement System</h1></center>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>
    <nav id="nav-properties">
        <ul>
            <li>@Html.ActionLink("Home", "Home")</li>
            <li>@Html.ActionLink("SearchforConferences", "Searching")</li>
            <li>@Html.ActionLink("Upcoming-Conferences", "Upcoming_Conference")</li>
            <li>@Html.ActionLink("My-Events", "Events")</li>
            <li>@Html.ActionLink("Contact-Us", "Contact")</li>
            <li>@Html.ActionLink("About", "About")</li>
            <li id="inout">@Html.ActionLink("Signin", "signIn")</li>
            <li id="inout">@Html.ActionLink("Signup", "signup")</li>
        </ul>
    </nav>

    <div class="margin"></div>
    <section>
        <center style="margin-top:-22px;"><h1 style="background-color:rgb(215,215,215);padding:10px;">Invited Speaker</h1></center>
        <aside>
            <div>
                <h4>Manage basics</h4>
                <li>@Html.ActionLink("Change name of conference", "organize")</li>
                <li>@Html.ActionLink("Change Venue", "organize")</li>
                <li>@Html.ActionLink("Change date", "organize")</li>
                <li>@Html.ActionLink("Update Agenda", "organize")</li>
            </div>
        </aside><br>
        <aside>
            <div>
                <h4>Manage Guests</h4>
                <li>@Html.ActionLink("Invite People", "", new { id = @Model.j })</li>
                <li>@Html.ActionLink("List of Participants", "ListofParticipants", new { id = @Model.j })</li>
                <li>@Html.ActionLink("List of Invited Speakers", "InvitedSpeaker", new { id = @Model.j })</li>
            </div>
        </aside><br>
        <aside>
            <div>
                <h4>Manage Sessions</h4>
                <li>@Html.ActionLink("Add/Remove Sessions", "Sessions", new { id = @Model.j })</li>
                <li>@Html.ActionLink("Workshop", "Workshop", new { id = @Model.j })</li>
                <li>@Html.ActionLink("Tutorials", "Tutorials", new { id = @Model.j })</li>
                <li>@Html.ActionLink("Extra Events", "Extra_Events", new { id = @Model.j })</li>
                <li>@Html.ActionLink("PHD Symposium", "PHD_Symposium", new { id = @Model.j })</li>
            </div>
        </aside><br>
        <aside>
            <div>
                <h4>@Html.ActionLink("Manage Papers", "")</h4>
                <li>@Html.ActionLink("Change Submission link", "")</li>
                <li>@Html.ActionLink("Update List of Accepted Papers", "")</li>
            </div>

        </aside>
        <div id="leftDashBoard">
            <div class="login">
                <table>
                    <!--Yahan coding karni ha-->
                   @foreach (var con in Model.participants)
                   {

                    <li>@Html.ActionLink(con.user_name, "love", new { id = con.user_id, a = con.conference_id })</li>


                   }

                    <tr>
                        <td colspan="2" style="text-align:center;">

                            @Html.ActionLink("Invite user", "UserList", new { id = @Model.conf_id })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>
</html>
