@model CMS.tblConference
@*@{
        ViewBag.Title = "organize";
    }


    <html>
        <head>
            <link rel="stylesheet" href="~/CSS/Main.css">
            <title>Conference Mangement System</title>
        </head>

        <body>
            <header>
                <center><h1 style="padding-left:50px;">Conference Mangement System<h1></center>
                <img id="cms-logo" src="~/Pics/cms logo.png">
            </header>
            <nav id="nav-properties">
                <ul>
                    <<li>@Html.ActionLink("Home", "Home")</li>
                    <li>@Html.ActionLink("SearchforConferences", "Searching")</li>
                    <li>@Html.ActionLink("Create-an-event", "create")</li>
                    <li>@Html.ActionLink("My-Events", "Events")</li>
                    <li>@Html.ActionLink("Contact-Us", "Contact")</li>
                    <li>@Html.ActionLink("About", "About")</li>
                    <li id="inout">@Html.ActionLink("Signin", "signIn")</li>
                    <li id="inout">@Html.ActionLink("Signup", "signup")</li>
                </ul>
            </nav>

            <div class="margin"></div>
            <section>
                <center style="margin-top:-22px;"><h1 style="background-color:rgb(215,215,215);padding:10px;">Organize Event</h1></center>
            </section>
            <div class="Organize">

                <table>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)


                        <div class="editor-label">
                            @Html.LabelFor(model => model.name)
                        </div>

                        <div class="editor-field">
                            @Html.EditorFor(model => model.name)
                            @Html.ValidationMessageFor(model => model.name)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.website)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.website)
                            @Html.ValidationMessageFor(model => model.website)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Sdate)
                        </div>

                        <input type="date" id="sdate" name="startdate">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Edate)
                        </div>
                        <input type="date" id="edate" name="enddate">

                        <div class="editor-label">
                            @Html.LabelFor(model => model.country)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.country)
                            @Html.ValidationMessageFor(model => model.country)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.city)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.city)
                            @Html.ValidationMessageFor(model => model.city)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.venue)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.venue)
                            @Html.ValidationMessageFor(model => model.venue)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.submission_link)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.submission_link)
                            @Html.ValidationMessageFor(model => model.submission_link)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.agenda)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.agenda)
                            @Html.ValidationMessageFor(model => model.agenda)
                        </div>

                        <p>
                            <input type="submit" value="Create" />
                        </p>

                    }


                </table>
            </div>

        </body>
        </html>*@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript" rel="script"></script>
    <script src="~/JS/pikaday.js"></script>
    <link href="~/CSS/pikaday.css" rel="stylesheet" />
    
    <link href="nav%20bar.css" rel="stylesheet" type="text/css">
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">


    <header class="header">
        <h1 style="text-align: center">Conference Management System</h1>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>


    <nav class="navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Search-Event", "Search")</li>
                    <li>@Html.ActionLink("Create-Event", "organize")</li>
                    <li>@Html.ActionLink("My-Events", "myEvents")</li>
                    <li>@Html.ActionLink("Search-User", "Search_User")</li>

                    @*  <li>@Html.ActionLink("Contact-Us", "Contact")</li>*@

                </ul>                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Session["id"].Equals(0))
                        {

                            @Html.ActionLink("Signin", "sign")}
                        else
                        {
                            @Html.ActionLink(Session["email"].ToString(), "sign")

                        }
                    </li>
                    <li>
                        @if (Session["id"].Equals(0))
                        {
                            @Html.ActionLink("Signup", "signup")
                        }
                        else
                        {
                            @Html.ActionLink("Signout", "signup")
                        }
                    </li>
                    @*<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
                </ul>


            </div>
        </div>
    </nav>


    <center style="margin-top:-22px;"><h1 style="background-color: #9d9d9d; padding:10px;">Create an Event</h1></center>


    @using (Html.BeginForm("organize", "DashBoard", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {


        <div class="form-group">

            <label class="control-label col-md-4">Conference Name</label>
            <div class="col-md-4">
                <input type="text" name="name" class="form-control">

            </div>

        </div>

        <div class="form-group">

            <label class="control-label col-md-4">Start Date</label>
            <div class="col-md-4">
                <input type="text" name="startdate" id="sdate" class="form-control">
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-4">End Date</label>
            <div class="col-md-4">
                <input type="text" name="enddate" id="edate" class="form-control">
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-4">Discipline</label>
            <div class="col-md-4">

                <select class="form-control" name="dis">
                    <option class="disabled">Please choose an option</option>
                    <option>Electical Engineering</option>
                    <option>Computer Science</option>
                    <option>Both</option>

                </select>

            </div>
        </div>


        <div class="form-group">

            <label class="control-label col-md-4">Country</label>
            <div class="col-md-4">
                <select class="form-control" name="country">
                    <option>Please choose an option</option>
                    <option>United States of America</option>
                    <option>Pakistan</option>
                    <option>New Zealand</option>
                    <option>South Africa</option>
                    <option>India</option>
                    <option>Canada</option>
                </select>

            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-4">City</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="city" />

            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-4">Venue</label>
            <div class="col-md-4">
                <input type="text" name="venue" class="form-control">
            </div>
        </div>


        <div class="form-group">

            <label class="control-label col-md-4">Website</label>
            <div class="col-md-4">
                <input type="url" name="web" class="form-control">
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-4">Submission Link</label>
            <div class="col-md-4">
                <input type="url" name="submission_link" class="form-control">
            </div>
        </div>





        <div class="text-center">
            <input type="submit" value="Register">
        </div>

        <script type="text/javascript">
            var spicker = new Pikaday({
                field: document.getElementById('sdate')
            });
            var epicker = new Pikaday({
                field: document.getElementById('edate')
            });
        </script>


    }
</body>

</html>

