@model CMS.tblConference
@{
    ViewBag.Title = "organize";
}


<html>
<head>
    <link rel="stylesheet" href="~/CSS/Main.css">
    <title>Conference Mangement System</title>
</head>

<body>
    <header>
        <center><h1 style="padding-left:50px;">Conference Mangement System<h1></center>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>
    <nav id="nav-properties">
        <ul>
            <<li>@Html.ActionLink("Home", "Home")</li>
            <li>@Html.ActionLink("SearchforConferences", "Searching")</li>
            <li>@Html.ActionLink("Create-an-event", "create")</li>
            <li>@Html.ActionLink("My-Events", "Events")</li>
            <li>@Html.ActionLink("Contact-Us", "Contact")</li>
            <li>@Html.ActionLink("About", "About")</li>
            <li id="inout">@Html.ActionLink("Signin", "signIn")</li>
            <li id="inout">@Html.ActionLink("Signup", "signup")</li>
        </ul>
    </nav>
  
    <div class="margin"></div>
    <section>
        <center style="margin-top:-22px;"><h1 style="background-color:rgb(215,215,215);padding:10px;">Organize Event</h1></center>
    </section>
    <div class="Organize">

        <table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="editor-label">
                    @Html.LabelFor(model => model.name)
                </div>
                
                <div class="editor-field">
                    @Html.EditorFor(model => model.name)
                    @Html.ValidationMessageFor(model => model.name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.organizing_body)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.organizing_body)
                    @Html.ValidationMessageFor(model => model.organizing_body)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Sdate)
                </div>
                <input type="text" id="sdate" name="startdate">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Edate)
                </div>
                <input type="text" id="edate" name="enddate">

                <div class="editor-label">
                    @Html.LabelFor(model => model.country)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.country)
                    @Html.ValidationMessageFor(model => model.country)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.city)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.city)
                    @Html.ValidationMessageFor(model => model.city)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.venue)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.venue)
                    @Html.ValidationMessageFor(model => model.venue)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.submission_link)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.submission_link)
                    @Html.ValidationMessageFor(model => model.submission_link)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.agenda)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.agenda)
                    @Html.ValidationMessageFor(model => model.agenda)
                </div>

                <p>
                    <input type="submit" value="Create" />
                </p>

            }


        </table>
    </div>

</body>
</html>
