@model CMS.Models.Sessions

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.controller = "dashboard";
    ViewBag.action = "my_events";  
}






@{Html.RenderPartial("~/Views/Shared/partialDashBoard-j.cshtml");}


<div class="col-sm-10 blog-content">


    <div class="col-sm-10 text-left">


        <h1 class="text-center">Sessions</h1>


        <table class="table table-hover table-striped table-bordered table-responsive" align="center">
            <tr>
                <th>Title</th>
                <th>Venue</th>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Action</th>

            </tr>
            @foreach (var ws in Model.participants)
            {
                <tr>
                    <td>@ws.title</td>
                    <td>@ws.venue</td>
                    <td>@ws.Sday</td>
                    <td>@ws.Stime</td>
                    <td>@ws.Etime</td>



                    <td>
                        @Html.ActionLink("Edit", "Edit_Sessions", new { id = ws.id, con_id = ws.conference }) |
                        @Html.ActionLink("Delete", "Delete_Sessions", new { id = ws.id })
                    </td>
                </tr>
            }
        </table>

        <h4 class="text-center"> @Html.ActionLink("Add Sessions", "Add_Sessions", new { id = @Model.j })</h4>

    </div>

</div>
    </div>
    </div>
    </div>

