@{
    ViewBag.Title = "ChangePassword";
}
<!DOCTYPE html>
<html>
<head>
    <title>Conference Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">
    <link href="nav%20bar.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header">
        <h1 style="text-align: center">Conference Management System</h1>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>


    <nav class="navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Search-Event", "Search")</li>
                    <li>@Html.ActionLink("Create-Event", "create")</li>
                    <li>@Html.ActionLink("My-Events", "myEvents")</li>
                    <li>@Html.ActionLink("Search-User", "Search_User")</li>
                    @*  <li>@Html.ActionLink("Contact-Us", "Contact")</li>*@

                </ul>                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Signin", "signIn")</li>
                    <li>@Html.ActionLink("Signup", "signup")</li>

            </div>
        </div>
    </nav>
    <div align="center">
    <h2>ChangePassword</h2>
    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Raw(ViewBag.Error);
        <table>
            <tr>
                <td><h2>Email:</h2></td>
                <td><input type="text" name="email" id="ForPass" /></td>
            </tr>
            <tr>
                <td><h2>New Password:</h2></td>
                <td><input type="password" name="password" id="ForPass" /></td>
            </tr>
            <tr>
                <td><h2>Confirm Password:</h2></td>
                <td><input type="password" name="confirm" id="ForPass" /></td>

            </tr>
                
            
        </table>
    <div>
        <input type="submit" value="Change password" id="ForPassBtn" />
    </div>
    }
    </div>
   </body>
</html>
