@model CMS.Models.conferenceWorshopsViewModel
@{
    ViewBag.Title = "ConferenceWorkshops";
}

@*<h2>ConferenceWorkshops</h2>
<h2>@Model.conference_name </h2>
<h2 style="text-align:center">Workshops</h2>

@foreach (var ws in Model.participants)
{
    <h4>Title:-</h4>
    <p>@ws.title</p>
    <h4>Discription</h4>
    <p>@ws.discription</p>
}*@


<html>
<head>
    <title>Conference Mangement System</title>
    <link rel="stylesheet" href="~/CSS/Main.css">
</head>
<body>
    <header>
        <center><h1 style="padding-left:50px;">Conference Mangement System<h1></center>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>
    <nav id="nav-properties">
        <ul>
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("SearchforConferences", "Search")</li>
            <li>@Html.ActionLink("Upcoming-Conferences", "Upcoming_Conference")</li>
            <li>@Html.ActionLink("My-Events", "myEvents")</li>
            <li>@Html.ActionLink("Contact-Us", "Contact_Us")</li>
            <li>@Html.ActionLink("About", "About")</li>
            <li id="inout">@Html.ActionLink("Signin", "signIn")</li>
            <li id="inout">@Html.ActionLink("Signup", "signup")</li>
        </ul>
    </nav>
    
    <section>
        <aside style="margin-top:1px;">
            <div style="height:100%;">
                <h4>@Html.ActionLink("Wall Of Conference", "")</h4>
                <li>@Html.ActionLink("Conference Website", "")</li>
                <li>@Html.ActionLink("Organizing Committees", "")</li>
                <li>@Html.ActionLink("Invited Speaker", "ConferenceInvitedSpeakers", new { conference = @Model.id, attendingAs = 1 })</li>
                <li>@Html.ActionLink("Sessions", "ConferenceSession", new { conference = @Model.id, name = @Model.name })</li>
                <li>@Html.ActionLink("Workshop", "ConferenceWorkshops", new { conference = @Model.id, name = @Model.name, subType = 2 })</li>
                <li>@Html.ActionLink("Tutorials", "ConferenceTutorials", new { conference = @Model.id, name = @Model.name, subType = 1 })</li>
                <li>@Html.ActionLink("PHD Symposium", "ConferencePHD", new { conference = @Model.id, name = @Model.name, subType = 3 })</li>
                <li>@Html.ActionLink("Paper Submission Link", "")</li>
                <li>@Html.ActionLink("Accepted Papers", "")</li>
                <li>@Html.ActionLink("Registration Link", "")</li>
                <li>@Html.ActionLink("Extra Events", "ConferenceExtraEvents", new { conference = @Model.id, name = @Model.name, subType = 4 })</li>
            </div>
        </aside>
        <div id="W_O_C">
            <center><h2>Workshops</h2></center>
            <h3>List of Workshops</h3>
            <table id="WOC">
                @foreach (var ws in Model.participants)
                {
                <tr>
                    <th>Title:-</th>
                    <td>@ws.title</td>
                </tr>
                    <tr>
                        <th>Discription:-</th>
                        <td>@ws.discription</td>
                    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>   
                }

                @*<tr>
                    <td>
                        <label for="End-Time">End-Time</label>
                    </td>
                    <td>
                        <p>End-Time<p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="venue">Venue</label>
                    </td>
                    <td>
                        <p>Venue<p>
                    </td>
                </tr>*@

            </table>
        </div>
    </section>
</body>
</html>