@model CMS.Models.conferenceUsersViewModel
@{
    ViewBag.Title = "ConferenceInvitedSpeakers";
}

@*<h2>ConferenceInvitedSpeakers</h2>
<h2>InvitedSpeakers</h2>
@foreach (var u in Model.participants)
{
    <h5>@Html.ActionLink(u.user_name, "UserProfile", new { id = u.user_id })</h5>
}*@


@*<html>
<head>
    <title>Conference Mangement System</title>
    <link rel="stylesheet" href="~/CSS/Main.css">
</head>
<body>
    <header>
        <center><h1 style="padding-left:50px;">Conference Mangement System<h1></center>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>
    <nav id="nav-properties">
        <ul>
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("SearchforConferences", "Search")</li>
            <li>@Html.ActionLink("Create-an-event", "create")</li>
            <li>@Html.ActionLink("My-Events", "myEvents")</li>
            <li>@Html.ActionLink("Contact-Us", "Contact_Us")</li>
            <li>@Html.ActionLink("About", "About")</li>
            <li id="inout">@Html.ActionLink("Signin", "signIn")</li>
            <li id="inout">@Html.ActionLink("Signup", "signup")</li>
        </ul>
    </nav>
   
    <section>
        <aside style="margin-top:1px;">
            <div style="height:100%;">
                <h4>@Html.ActionLink("Wall Of Conference", "")</h4>
                <li>@Html.ActionLink("Conference Website", "")</li>
                <li>@Html.ActionLink("Organizing Committees", "")</li>
                <li>@Html.ActionLink("Invited Speaker", "ConferenceInvitedSpeakers", new { conference = @Model.id, attendingAs = 1 })</li>
                <li>@Html.ActionLink("Sessions", "ConferenceSession", new { conference = @Model.id, name = @Model.name })</li>
                <li>@Html.ActionLink("Workshop", "ConferenceWorkshops", new { conference = @Model.id, name = @Model.name, subType = 2 })</li>
                <li>@Html.ActionLink("Tutorials", "ConferenceTutorials", new { conference = @Model.id, name = @Model.name, subType = 1 })</li>
                <li>@Html.ActionLink("PHD Symposium", "ConferencePHD", new { conference = @Model.id, name = @Model.name, subType = 3 })</li>
                <li>@Html.ActionLink("Paper Submission Link", "")</li>
                <li>@Html.ActionLink("Accepted Papers", "")</li>
                <li>@Html.ActionLink("Registration Link", "")</li>
                <li>@Html.ActionLink("Extra Events", "ConferenceExtraEvents", new { conference = @Model.id, name = @Model.name, subType = 4 })</li>
            </div>
        </aside>

        <div id="W_O_C">
            <center><h2>Invited Speaker</h2></center>
            <h3>List of Invited Speaker</h3>
            <table id="WOC">
                <tr>
                    <td>
                        @foreach (var u in Model.participants)
                        {
                            <h4>@Html.ActionLink(u.user_name, "UserProfile", new { id = u.user_id })</h4>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Management System</title>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript" rel="script"></script>
    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">
    <link href="nav%20bar.css" rel="stylesheet" type="text/css">

</head>

<body>


    <header class="header">
        <h1 style="padding-left:50px; text-align: center">Conference Mangement System</h1>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>


    <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
            <div class="navbar-nav">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("SearchforConferences", "Search")</li>
                    <li>@Html.ActionLink("Create-an-event", "create")</li>
                    <li>@Html.ActionLink("My-Events", "myEvents")</li>
                    @*  <li>@Html.ActionLink("Contact-Us", "Contact")</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
                    <li>
                        @if (Session["id"].Equals(0))
                        {

                            @Html.ActionLink("Signin", "signIn")}
                        else
                        {
                            @Html.ActionLink(Session["email"].ToString(), "MyProfile")
                           
                        }
                    </li>
                    <li>
                        @if (Session["id"].Equals(0))
                        {
                            @Html.ActionLink("Signup", "signup")
                        }
                        else
                        {
                            @Html.ActionLink("Signout", "signout")
                        }
                </li>
            </ul>


            </div>
        </div>
    </nav>


    <center style="margin-top:-22px;"><h1 style="background-color: #9d9d9d; padding:10px;">Invited Speakers</h1></center>


    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-2 sidenav">

                <h4><b>Wall of Conference</b></h4>

               
                <li>@Html.ActionLink("Organizing Body", "organizingCommitee", new { id = @Model.id })</li>
                <li>@Html.ActionLink("Invited Speaker", "ConferenceInvitedSpeakers", new { conference = @Model.id, attendingAs = 1 })</li>
                <li>@Html.ActionLink("Sessions", "ConferenceSession", new { conference = @Model.id, name = @Model.name })</li>
                <li>@Html.ActionLink("Workshop", "ConferenceWorkshops", new { conference = @Model.id, name = @Model.name, subType = 2 })</li>
                <li>@Html.ActionLink("Tutorials", "ConferenceTutorials", new { conference = @Model.id, name = @Model.name, subType = 1 })</li>
                <li>@Html.ActionLink("PHD Symposium", "ConferencePHD", new { conference = @Model.id, name = @Model.name, subType = 3 })</li>
                <li>@Html.ActionLink("Accepted Papers", "ConferenceAcceptedPapers", new { conference = @Model.id })</li>
                <li>@Html.ActionLink("Extra Events", "ConferenceExtraEvents", new { conference = @Model.id, name = @Model.name, subType = 4 })</li>


            </div>

            <div class="col-sm-10 text-left">


                <table>
                    @foreach (var u in Model.participants)
                    {
                        <h4>@Html.ActionLink(u.user_name, "UserProfile", new { id = u.user_id })</h4>
                    }


                    @*@Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })*@


                </table>




            </div>


        </div>

    </div>

</body>
</html>