@model CMS.Models.HomeViewModel
@{
    ViewBag.Title = "Search";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Conference Management System</title>
    <meta charset="utf-8">
    <title>Conference Management System</title>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript" rel="script"></script>
    <script src="~/JS/pikaday.js"></script>
    <link href="~/CSS/pikaday.css" rel="stylesheet" />

    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">
    <link href="nav%20bar.css" rel="stylesheet" type="text/css">







    <script>

        $(document).ready(function () {

            $("#advance").click(function () {
                $('#advance').hide();
                $("#hidden").show();
            });
        });

    </script>

   
    <style>

        #hidden{
            display:none;
        }

    </style>
    

   
</head>






<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">


    <header class="header">
        <h1 style="text-align: center">Conference Management System</h1>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Search-Event", "Search")</li>
                    <li>@Html.ActionLink("Create-Event", "create")</li>
                    <li>@Html.ActionLink("My-Events", "myEvents")</li>
                    <li>@Html.ActionLink("Search-User", "Search_User")</li>
                    @*  <li>@Html.ActionLink("Contact-Us", "Contact")</li>*@

                </ul>                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
                    <li>
                        @if (Session["id"].Equals(0) || Session["id"]==null)
                        {

                            @Html.ActionLink("Signin", "signIn")}
                        else
                        {
                            @Html.ActionLink(Session["email"].ToString(), "MyProfile")

                        }
                    </li>
                    <li>
                        @if (Session["id"].Equals(0) || Session["id"] == null)
                        {
                            @Html.ActionLink("Signup", "signup")
                        }
                        else
                        {
                            @Html.ActionLink("Signout", "signout")
                        }
                    </li>
                </ul>


            </div>
        </div>
    </nav>


    <center style="margin-top:-22px;"><h1 style="background-color: #9d9d9d; padding:10px;">Search for Event</h1></center>

    @using (Html.BeginForm("Search", "Home", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-4"></label>
                <div class="form-group input-group col-md-4">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" value="search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>


            <p id="advance" class="text-center"><a>Advanced Search</a></p>

            <div id="hidden">
                <div class="form-group">
                    <label class="control-label col-md-4">Start Date</label>
                    <div class="col-md-4">
                        <input type="text" name="sdate" id="sdate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">End Date</label>
                    <div class="col-md-4">
                        <input type="text" name="edate" id="edate" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-4">Country</label>
                    <div class="col-md-4">
                        <select class="form-control" name="country">
                            <option>Please choose an option</option>
                            <option>United States of America</option>
                            <option>Pakistan</option>
                            <option>New Zealand</option>
                            <option>South Africa</option>
                            <option>India</option>
                            <option>Canada</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">City</label>
                    <div class="col-md-4">
                        <input type="text" name="city" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Discipline</label>
                    <div class="col-md-4">
                        <select class="form-control" name="dis">
                            <option class="disabled">Please choose an option</option>
                            <option>Electical Engineering</option>
                            <option>Computer Science</option>
                           
                        </select>
                    </div>
                </div>

            </div>
        </div>
    



    <h1 class="text-center">Upcoming Conferences</h1>
    <table class="tab" align="center">
        <tr>
            <th>Conference Name</th>
            <th>Country</th>
            <th>City</th>
        </tr>
        @foreach (var con in Model.conferences)
        {
            <tr>
                <td>@Html.ActionLink(con.name, "ConferenceDetails", new { id = con.id })</td>
                <td>@Html.ActionLink(con.country, "Search", new { country = con.country, city = "" })</td>
                <td>@Html.ActionLink(con.city, "Search", new { country = "", city = con.city })</td>
            </tr>
        }
    </table>


    <script type="text/javascript">
    var spicker = new Pikaday({
        field: document.getElementById('sdate')
    });
    var epicker = new Pikaday({
        field: document.getElementById('edate')
    });



    $('body').on('click', '#advance', function (event) {
        search_params();
    });

    search_params = function () {
        action = $('.form-horizontal').attr('action')
        action += "?" + $.param({ search: true });
        $('.form-horizontal').attr('action', action);
    };

    if (window.location.search.length > 0) {
        $('#advance').hide();
        $('#hidden').fadeIn();
        search_params();

    }



    </script>
    }




</body>

</html>
