@model CMS.Models.SignInModel
@{
    ViewBag.Title = "Conference Management System";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.action = "signin";
}

@*<!DOCTYPE html>
<html>
<head>
    <title>Conference Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">
    <link href="nav%20bar.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header">
        <h1 style="text-align: center">Conference Management System</h1>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Search-Event", "Search")</li>
                    <li>@Html.ActionLink("Create-Event", "create")</li>
                    <li>@Html.ActionLink("My-Events", "myEvents")</li>
                    <li>@Html.ActionLink("Search-User", "Search_User")</li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Signin", "signIn")</li>
                    <li>@Html.ActionLink("Signup", "signup")</li>

            </div>
        </div>
    </nav>*@


    <h1 class="text-center">Sign-In Page</h1>
    @*<center style="margin-top:-22px;"><h1 style="background-color: #9d9d9d; padding:10px;">Sign in Page</h1></center>*@


    @using (Html.BeginForm("signIn", "Home", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

       
            <div class="form-group">

                <label class="control-label col-md-4" style="font-size:large;">Email</label>
                <div class="col-md-4">
                    <input type="email" name="email" class="form-control">

                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-md-4" style="font-size:large;">Password</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="password" class="form-control"  name="password" id="pwd">
                        <span class="input-group-btn" >
                            <button type="button" class="btn btn-default"  id="eye">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </span>
                    </div>
                </div>

            </div>


            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Sign-In">
            </div>

            <div class="text-center">
                @Html.ActionLink("Forgot password", "ForgotPassword")
            </div>


        @*</div>*@
    }


    <script>
        function show() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'text');
        }

        function hide() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'password');
        }

        var pwShown = 0;

        document.getElementById("eye").addEventListener("click", function () {
            if (pwShown == 0) {
                pwShown = 1;
                show();
            } else {
                pwShown = 0;
                hide();
            }
        }, false);
        

    </script>




