@model CMS.Models.signupModel
@{
    ViewBag.Title = "signup";
}

@*<h2>signup</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>tbluser</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <input type="password" id="pass" name="password">

        <div class="editor-label">
            @Html.LabelFor(model => model.research_area)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.research_area)
            @Html.ValidationMessageFor(model => model.research_area)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.country)
            @Html.ValidationMessageFor(model => model.country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.biography)
        </div>
        <textarea rows="15" cols="70" style="font-family:'Times New Roman'" id="bio" name="boigraphy"></textarea>
        @*<div class="editor-field">
                @Html.EditorFor(model => model.biography)
                @Html.ValidationMessageFor(model => model.biography)
            </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.workplace)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.workplace)
            @Html.ValidationMessageFor(model => model.workplace)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="~/CSS/style.css">
</head>
<body>
    <header>
        <center><img src="~/Pics/cms logo.png" height=160, width=150></center>
        <center><h4 style="margin-top:-10px;">Conference Managment Sysytem</h4></center>
    </header>
@using (Html.BeginForm())
{
    <div class="login">
        <input type="text" placeholder="Name" name="name"><br>
        <input type="text" placeholder="Email" name="email"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="password" placeholder="Retype-password" name="re-password"><br>
        <input type="submit" value="Signup">
    </div>
}
</body>
</html>




