@model CMS.Models.userProfile
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.action = "search_user";
}

<div class="row user-profile">
    <div class="col-sm-12">
        <div class="col-sm-3">
            <div class="text-center">
                <img src="~/Pics/250x250.png" alt="Alternate Text" class="img-responsive img-circle" />
                <span></span>
            </div>
        </div>
        <div class="col-sm-9">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>@Model.name</dd>
                <dt>Email</dt>
                <dd>@Model.email</dd>
                <dt>Country</dt>
                <dd>@Model.Country</dd>
                <dt>City</dt>
                <dd>@Model.city</dd>
                <dt>Research-Area</dt>
                <dd>@Model.researchArea</dd>
                <dt>Biography</dt>
                <dd>@Model.biography</dd>
               
            </dl>
        </div>
    </div>
</div>