@model CMS.Models.userProfile
@{
    ViewBag.Title = "UserProfile";
}






@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Management System</title>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript" rel="script"></script>
    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">
    <link href="nav%20bar.css" rel="stylesheet" type="text/css">

    <style>
        h4{
            color:black;
        }
        
    </style>


</head>





<body>


    <header class="header">
        <h1 style="text-align: center">Conference Management System</h1>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Search-Event", "Search")</li>
                    <li>@Html.ActionLink("Create-Event", "create")</li>
                    <li>@Html.ActionLink("My-Events", "myEvents")</li>
                    <li>@Html.ActionLink("Search-User", "Search_User")</li>
                    @*  <li>@Html.ActionLink("Contact-Us", "Contact")</li>

                </ul>                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Session["id"].Equals(0))
                        {

                            @Html.ActionLink("Signin", "sign")}
                        else
                        {
                            @Html.ActionLink(Session["email"].ToString(), "MyProfile")

                        }
                    </li>
                    <li>
                        @if (Session["id"].Equals(0))
                        {
                            @Html.ActionLink("Signup", "signup")
                        }
                        else
                        {
                            @Html.ActionLink("Signout", "signup")
                        }
                    </li>
                    @*<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>


            </div>
        </div>
    </nav>







    @using (Html.BeginForm("UserProfile", "Home", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="form-group">

            <label class="control-label col-md-4">Name:</label>
            <div class="col-md-8" >

                <h5 style="float:left;">@Model.user.name</h5>

            </div>
        </div>


        <div class="form-group">

            <label class="control-label col-md-4">Country:</label>
            <div class="col-md-3">

                <h5 style="float:left;">@Model.user.country</h5>

            </div>
        </div>





        <div class="form-group">

            <label class="control-label col-md-4">City:</label>
            <div class="col-md-3">

                <h5 style="float:left;">@Model.user.city</h5>

            </div>
        </div>




        <div class="form-group">

            <label class="control-label col-md-4">Email:</label>
            <div class="col-md-3">

                <h5 style="float:left;">@Model.user.email</h5>

            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-4"> About:</label>
            <div class="col-md-3">

                <h5 style="float:left; text-align:right">@Model.user.biography</h5>

            </div>
        </div>






    }




    



</body>
</html>*@


@*<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Bootstrap user profile template</title>
    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT-AWESOME STYLE SHEET FOR BEAUTIFUL ICONS -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript" rel="script"></script>
    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">
    <link href="nav%20bar.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        .btn-social {
            color: white;
            opacity: 0.8;
        }

            .btn-social:hover {
                color: white;
                opacity: 1;
                text-decoration: none;
            }

        .btn-facebook {
            background-color: #3b5998;
        }

        .btn-twitter {
            background-color: #00aced;
        }

        .btn-linkedin {
            background-color: #0e76a8;
        }

        .btn-google {
            background-color: #c32f10;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Design Bootstrap</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- NAVBAR CODE END -->


    <div class="container">
        <section style="padding-bottom: 50px; padding-top: 50px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/img/250x250.png" class="img-rounded img-responsive" />
                    <br />
                    <br />
                    <label>Registered Username</label>
                    <input type="text" class="form-control" placeholder="Demouser">
                    <label>Registered Name</label>
                    <input type="text" class="form-control" placeholder="Jhon Deo">
                    <label>Registered Email</label>
                    <input type="text" class="form-control" placeholder="jnondeao@gmail.com">
                    <br>
                    <a href="#" class="btn btn-success">Update Details</a>
                    <br /><br />
                 </div>
                <div class="col-md-8">
                    <div class="alert alert-info">
                        <h2>User Bio : </h2>
                        <h4>Bootstrap user profile template </h4>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>&nbsp; Facebook
                        </a>
                        <a href="#" class="btn btn-social btn-google">
                            <i class="fa fa-google-plus"></i>&nbsp; Google
                        </a>
                        <a href="#" class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>&nbsp; Twitter
                        </a>
                        <a href="#" class="btn btn-social btn-linkedin">
                            <i class="fa fa-linkedin"></i>&nbsp; Linkedin
                        </a>
                    </div>
                    <div class="form-group col-md-8">
                        <h3>Change YOur Password</h3>
                        <br />
                        <label>Enter Old Password</label>
                        <input type="password" class="form-control">
                        <label>Enter New Password</label>
                        <input type="password" class="form-control">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" />
                        <br>
                        <a href="#" class="btn btn-warning">Change Password</a>
                    </div>
                </div>
            </div>
            <!-- ROW END -->


        </section>
        <!-- SECTION END -->
    </div>
    <!-- CONATINER END -->
    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>*@




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Management System</title>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript" rel="script"></script>
    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css">
    <link href="nav%20bar.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />


</head>

<body>


    <header class="header">
        <h1 style="text-align: center">Conference Management System</h1>
        <img id="cms-logo" src="~/Pics/cms logo.png">
    </header>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Search-Event", "Search")</li>
                    <li>@Html.ActionLink("Create-Event", "create")</li>
                    <li>@Html.ActionLink("My-Events", "myEvents")</li>
                    <li>@Html.ActionLink("Search-User", "Search_User")</li>
                    @*  <li>@Html.ActionLink("Contact-Us", "Contact")</li>*@

                </ul>                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Session["id"].Equals(0))
                        {

                            @Html.ActionLink("Signin", "signIn")}
                        else
                        {
                            @Html.ActionLink(Session["email"].ToString(), "MyProfile")

                        }
                    </li>
                    <li>
                        @if (Session["id"].Equals(0))
                        {
                            @Html.ActionLink("Signup", "signup")
                        }
                        else
                        {
                            @Html.ActionLink("Signout", "signout")
                        }
                    </li>
                    @*<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
                </ul>


            </div>
        </div>
    </nav>


    <center style="margin-top:-22px;">
        <h1 style="background-color: #9d9d9d; padding:10px">User Profile</h1>
    </center>







        @*<div class="login">
                <div class="form-group">

                    @Html.LabelFor(model => model.name,
                   new { @class = "control-label col-md-2" })

                    <div class="col-md-6">
                        <div class="input">
                            @Html.TextBoxFor(model => model.name,
                     new { style = "width: 400px" })
                            @Html.ValidationMessageFor(model => model.name)
                        </div>
                    </div>
                </div>





                <div class="form-group">
                    @Html.LabelFor(model => model.email,
                   new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.email,
                     new { style = "width: 400px" })
                        @Html.ValidationMessageFor(model => model.email)
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.country,
                   new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.country,
                     new { style = "width: 400px" })
                        @Html.ValidationMessageFor(model => model.country)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.city,
                   new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.city,
                     new { style = "width: 400px" })
                        @Html.ValidationMessageFor(model => model.city)
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.bio,
                   new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.bio,
                     new { style = "width: 400px; height: 200px" })
                        @Html.ValidationMessageFor(model => model.bio)
                        <div class="butn">
                                <input type="submit" value="Save" />
                        </div>
                        <div style="margin-top:1%;">
                            @Html.ActionLink("To chnage password click here!!!", "ChangePassword")
                        </div>
                    </div>

                </div>



            </div>*@

        <div class="container">
            <section style="padding-bottom: 50px; padding-top: 50px;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/assets/img/250x250.png" class="img-rounded img-responsive" />
                        <br />
                        <br />



                        <br>

                        <br /><br />
                    </div>
                    <div class="col-md-8">
                        <div class="alert alert-info">
                            <h2>User Bio : </h2>
                            <p>
                                @Model.biography
                            </p>
                        </div>
                        <br />

                        <label style="font-size:x-large">Name</label>
                        <h4 style="text-align:left;color:black">@Model.name</h4>


                        <label style="font-size:x-large">Email</label>
                        <h4 style="text-align:left;color:black">@Model.email</h4>
                        <label style="font-size:x-large">Country</label>
                        <h4 style="text-align:left;color:black">@Model.Country</h4>
                        <label style="font-size:x-large">City</label>
                        <h4 style="text-align:left;color:black;">@Model.city</h4>
                        <label style="font-size:x-large">Research Area   </label>
                        <h4 style="text-align:left;color:black">@Model.researchArea</h4>



                    </div>

                </div>
</div>
            </section>
        </div>

                <!-- ROW END -->
    }
 

</body>
</html>



